.header-wrapper {
  background-color: rgb(37, 32, 32);
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

h1 {
  font-size: 1rem;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

.hide-brand {
  display: block;
}

@media screen and (width < 600px) {
  .hide-brand {
    display: none;
  }
}
