.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem 2rem;
  height: 100dvh;
}

.intro {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.intro h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  text-align: justify;
}
