.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 80%;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.price-btn {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.price {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

@media screen and (width < 1500px) {
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width < 600px) {
  .product-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
