.wrapper {
  width: 600px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.score-board {
  display: flex;
  flex-direction: column;
}

.heading {
  position: relative;
}
