.question-wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 600px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (width < 600px) {
  .score-board {
    display: flex;
    direction: column;
    background-color: red;
  }
}
