.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer {
  background-color: rgb(247, 121, 121);
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 5px solid rgb(246, 148, 148);
}

.product-list {
}

.product-list li {
  flex: 1;
}
